<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github fa-2x"></i></a>
    <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
    <a href="#"><i class="fab fa-linkedin fa-2x"></i></a>
  </div>

  <div class="footer-made">
    Made with <i class="fas fa-heart"></i>
  </div>

  <div class="footer-copyright">
    Cymstudio©2020 All Rights Reserved
  </div>

</div>
