<nav>
  <a class="navbar-brand" href="#">
    <img src="https://res.cloudinary.com/dsvnlo5ja/image/upload/v1578214252/logo-web-transparent.png";
alt="">
  </a>

  <div id="navbarSupportedContent">
    <ul class="nav" style="list-style: none;">
      <li class="nav-item">
        <a class="nav-link"  href="#">WORK</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id= "green" href="#">PHOTOS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ABOUT</a>
      </li>
    </ul>
  </div>
</nav>
