
.navbar-collapse {
  flex-grow: 0;
}

.nav-item {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 85px;
}

.nav-link {
  text-decoration: none;
  color: #EDDCDC;

}

.nav-link:hover {
  color: #3A4F41;
}

nav{
  background: transparent;
  height: 120px;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  position: fixed;

}

ul{
  margin-left: 10px;
  float: right;
}

li {
  display:inline;
  cursor: pointer;
  padding: 10px;

}



















