

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://res.cloudinary.com/dsvnlo5ja/image/upload/v1578214461/Bacground-img.jpg);">
  <div class="navbar-fixed-top">
    <%= partial "layouts/navbarMain" %>
  </div>

  <div class="container">


    <h5>
      <a class="nav-link" href="#">MORE</a>
    </h5>
  </div>




  </div>





