<div class="navbar-fixed-top">
    <%= partial "layouts/navbarPhoto" %>
</div>


<div class="container">
  <div class="row" id= "center-name">

      <img  src="https://res.cloudinary.com/dsvnlo5ja/image/upload/v1578637384/pattern-side-cloudinary.png" alt="">


        <ul class="list-group">
          <li class="list-group-item">
            <a href="#" id= "work-word">NYC and Beyond</a>
          </li>
          <li class="list-group-item">
            <a href="#" id= "work-word">London</a>
          </li>
          <li class="list-group-item">
            <a href="#" id= "work-word">Munich</a>
          </li>
          <li class="list-group-item">
            <a href="#" id= "work-word">Cycling</a>
          </li>
        </ul>


  </div>
</div>
