<div class="navbar-fixed-top">
    <%= partial "layouts/navbarPhoto" %>
</div>

<div class= "container" id= "photo-nyc">
  <h5 id= "photo-title">NYC and Beyond</h5>

  <img src="https://res.cloudinary.com/dsvnlo5ja/image/upload/v1578642588/newcannan.png" alt="">

  <img src="https://res.cloudinary.com/dsvnlo5ja/image/upload/v1578643826/nyc-photo-2.png" alt="">

</div>
