<div class="navbar-fixed-top">
    <%= partial "layouts/navbarWork" %>
</div>

<div class = "container">
  <h1 id= "title-work">Paul Rudolph</h1>
  <h1 id= "title-work">Heritage Foundation</h1>
  <h5 id= "intro-work">Starting from early 2019, I have the honor to work at the beautiful Modulightor building in New York, where I help to create many media campaigns for the preservation of Paul Rudolph’s legacy. </h5>

  <div class="row" id= "lecture">
    <div class="col-sm-6"><img src="https://res.cloudinary.com/dsvnlo5ja/image/upload/v1578449978/final_lecture_cloudinary6.png" alt=""></div>
    <div class="col-sm-3" id= "lecture-small"><img src="https://res.cloudinary.com/dsvnlo5ja/image/upload/v1578449977/final_lecture_cloudinary2.png" alt="">
      <img src="https://res.cloudinary.com/dsvnlo5ja/image/upload/v1578449981/final_lecture_cloudinary9.png" alt=""></div>
    <div class="col-sm-3" id= "lecture-small"><img src="https://res.cloudinary.com/dsvnlo5ja/image/upload/v1578449974/final_lecture_cloudinary3.png" alt="">
      <img src="https://res.cloudinary.com/dsvnlo5ja/image/upload/v1578449976/final_lecture_cloudinary8.png" alt=""></div>

  </div>
    <div class="row" id= "print" >
      <div class="col-sm"><img src="https://res.cloudinary.com/dsvnlo5ja/image/upload/v1578451079/Poster_modulightor_NEW_two_cloudinary.png" alt="">
    </div>
    <div class="col-sm"><h5>Print Posters.
      </h5><p>On 7 mil, 150 gsm paper. In store.</p>
    </div>
  </div>


  <div class="row" id= "print" >
    <div class="col-sm-6"><h5>Poster.</h5><p>For the Niagara Fall Public Library Preservation Campaign.</p>
    </div>
    <div class="col-sm-6"><img src="https://res.cloudinary.com/dsvnlo5ja/image/upload/v1578452173/Mockup_00001_cloudinary.png" alt="">
    </div>
  </div>
  <div id= "post-work">
    <h5>Social Media Posts.</h5>
    <p>As a non-profit organization, gaining attention from the public is crucial, so social media posts is an effective way to attract more architectural enthusiasts. I regularly create social media posts for different events. For example, for Open house Weekend, the following posts help attract more than 1000 people to visit over one weekend. </p>
  </div>

    <div class="row" id= "ins-work" >
      <div class="col-sm"><img src="https://res.cloudinary.com/dsvnlo5ja/image/upload/v1578453211/open_house_test_cloudinary.png" alt="">
      </div>
      <div class="col-sm"><img src="https://res.cloudinary.com/dsvnlo5ja/image/upload/v1578453525/open_house_test_22_cloudinary.png" alt="">
      </div>
      <div class="col-sm"><img src="https://res.cloudinary.com/dsvnlo5ja/image/upload/v1578453203/Untitled-6_INSTA_cloudinary.png" alt="">
      </div>
  </div>

</div>
