<div class="navbar-fixed-top">
    <%= partial "layouts/navbarWork" %>
</div>

<div class= "container">
  <h1 id= "title-work">Personal</h1>
  <h1 id= "title-work">Web Work</h1>
  <h5 id= "intro-work">Web is a free playground. It provides me the freedom to create designs and concepts that are both interesting and useful. Below is one of my  app design for an imaginary icecream brand during last summer. I will also explain the philosophy for this new personal portfolio design. </h5>

  <div class="row" id= "phone-app">
    <div class= "col-sm-4">
      <img src="https://res.cloudinary.com/dsvnlo5ja/image/upload/v1578638961/phone-app.png" alt="">
    </div>
    <div class= "col-sm-4">
      <img src="https://res.cloudinary.com/dsvnlo5ja/image/upload/v1578638961/phone-app-2.png" alt="">
    </div>
    <div class= "col-sm-4">
    <img src="https://res.cloudinary.com/dsvnlo5ja/image/upload/v1578638965/phone-app-3.png" alt="">
    </div>
    <div class= "col-sm-4">
      <img src="https://res.cloudinary.com/dsvnlo5ja/image/upload/v1578638962/phone-app-4.png" alt="">
    </div>
    <div class= "col-sm-4">
      <img src="https://res.cloudinary.com/dsvnlo5ja/image/upload/v1578639890/phone-app-5.png" alt="">
    </div>
    <div class= "col-sm-4">
      <img src="https://res.cloudinary.com/dsvnlo5ja/image/upload/v1578639899/phone-app-6.png" alt="">
    </div>
    <div class= "col-sm-4">
      <img src="https://res.cloudinary.com/dsvnlo5ja/image/upload/v1578639890/phone-app-7.png" alt="">
    </div>

  </div>


</div>
