<div class="navbar-fixed-top">
    <%= partial "layouts/navbarWork" %>
</div>


<div class="container">
  <div class="row">
    <div class="col">
      <img id= "pattern" src="https://res.cloudinary.com/dsvnlo5ja/image/upload/v1578278337/pattern_one.png" alt="">
    </div>
    <div class="col-10" id= "center-name">
        <ul class="list-group">
          <li class="list-group-item">
            <a href="#" id= "work-word">P.R.H.F</a>
          </li>
          <li class="list-group-item">
            <a href="#" id= "work-word">Personal Web Work</a>
          </li>
          <li class="list-group-item">
            <a href="#" id= "work-word">Team Projects</a>
          </li>
          <li class="list-group-item">
            <a href="#" id= "work-word">Art Stuffs</a>
          </li>
        </ul>
      </div>
    <div class="col">
      3 of 3
    </div>
  </div>
</div>


